@media (max-width:1650px){
  .content-width{
    width: 1200px;
  }
}

@media (max-width:1280px) {
  .content-width{
    width: 960px;
  }
  .choose-block .content{
    padding: 40px;
  }
  h1, h2{
    font-size: 40px;
  }
  .choose-block h1, .choose-block h2{
    margin-bottom: 50px;
  }
  .top-line .nav-list{
    padding-right: 0;
  }
}

@media (max-width:991px) {
  .content-width{
    width: 720px;
  }
  .top-line .nav-list{
    display: none;
  }
  .top-line .logo-wrap{
    width: 120px;
  }
  .top-line{
    padding: 20px 0;
  }

  .open-menu{
    display: inline-block;
    margin: 12px 0 0;
    a{
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 25px;
      position: relative;
      img{
        vertical-align: top;
      }
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: url("../img/icon-6-2.svg");
        opacity: 0;
      }
    }
  }
  .is-active .open-menu{
    a{
      img{
        opacity: 0;
      }
      &:after{
        opacity: 1;
      }
    }
  }
  .top-line .right{
    display: flex;
    justify-content: flex-end;
  }
  .menu-responsive {
    width: 100%;
    background-size: cover;
    padding: 0;
    overflow: auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    background: transparent;
    transition: all .4s ease;

    .nice-select{
      border: none!important;
      color:  #60484B;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 42px;
      padding-left: 0;
      float: inherit;
      display: inline-block;
    }
    .nice-select .option{
      position: relative;
      a{
        display: block;
        &:after{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          z-index: 10;
        }
      }
    }
    .nice-select:after {
      border-bottom: 2px solid  #60484B;
      border-right: 2px solid  #60484B;
      margin-top: -6px;
    }
    .lang-wrap{
      margin-bottom: 30px;
    }
    .wrap{
      padding: 120px 40px 65px;
      width: 300px;
      margin: auto;
      float: right;
      background: #fff;
      min-height: 100vh;
    }
    .fancybox-close-small{
      display: none;
    }
    .nav-list{
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      li{
        width: 135px;
        margin-bottom: 50px;
        position: relative;
        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .number{
            width: 28px;
            height: 28px;
            padding-top: 1px;
            background: #BFBFBF;
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 28px */
            letter-spacing: 0.2px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 13px;
            border-radius: 100%;
            position: relative;
            .check{
              display: none;
            }

          }
          .text{
            color: #60484B;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: block;
            text-align: center;
          }
        }
      }
      li:last-child{
        margin-right: 0;
        .number:after{
          display: none;
        }
      }
      .active{
        .number{
          font-size: 0;
          background: transparent;
          .check{
            display: block;
            width: 40px;
            min-width: 40px;
            height: 40px;
            margin: -4px 0 0 -6px;
            position: relative;
            border: 1px solid #F27F0E;
            background: #FFF;
            padding: 6px;
            border-radius: 100%;
            z-index: 2;
            img{
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 10;
            }
          }
        }
      }
    }
  }
  .is-menu .menu-responsive{
    right: 0;
  }
  .choose-block .left{
    width: 100%;
  }
  .choose-block .total-block{
    width: 100%;
  }
  footer .logo-wrap{
    width: 120px;
    margin-bottom: 25px;
    img{
      width: 100%;
    }
  }
  footer .form-wrap{
    width: 350px;
  }
  .top-menu{
    display: none;
  }
  .mob-menu{
    ul{
      margin-bottom: 55px;
    }
    li{
      margin-bottom: 24px;
      a{
        color: #60484B;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        display: flex;
        align-items: center;
        width: fit-content;
        img{
          margin-left: 10px;
        }
      }
    }
    .btn-wrap{
      a{
        border-width: 1px;
        height: 54px;
        line-height: 52px;
        padding: 0 49px;
        background: #fff!important;
        color: #B21409!important;
        img{
          margin-right: 10px;
          position: relative;
          top: 4px;
        }

      }
    }
  }
}

@media (max-width:767px) {
  .content-width{
    width: 540px;
  }
  footer .left{
    width: 100%;
    margin-bottom: 30px;
  }
  .login figure{
    display: none;
  }
  .login .form-wrap{
    padding: 0;
    width: 100%;
  }
}

@media (max-width:575px) {

  .content-width{
    width: 100%;
    padding: 0 15px;
  }
  .top-line {
    padding: 16px 0;
  }
  .top-line .content-width{
    padding: 0 30px;
  }
  .open-menu a{
    width: 25px;
  }
  .open-menu {
    margin: 11px 4px 0 0;
  }
  .menu-responsive .wrap{
    width: 375px;
    max-width: 100%;
    padding: 120px 20px 65px;
  }
  .choose-block h1, .choose-block h2{
    text-align: left;
    font-size: 35px;
    margin-bottom: 31px;
  }
  .choose-block {
    padding: 23px 0 70px;
  }
  .choose-block .content{
    padding: 0;
    box-shadow: none;
    background: transparent;
  }
  .choose-block .content .title{
    margin-bottom: 22px;
  }
  .form-default .input-big-check .wrap .item{
    width: 100%;
  }
  .form-default .input-big-check .wrap .item .select-label{
    padding: 43px 30px;
  }
  .form-default .input-big-check .wrap {
    grid-gap: 15px 24px;
  }
  .form-default .input-wrap-number-col p.title {
    margin-bottom: 22px;
  }
  .form-default .input-wrap-number-col .number-item p{
    width: 67px;
  }
  .form-default .input-wrap-characteristics {
    padding-top: 0px;
    margin-bottom: 22px;
  }
  .form-default .input-wrap-characteristics .title{
    margin-bottom: 15px;
  }
  .form-default .input-wrap-characteristics .wrap{
    margin-bottom: 24px;
  }
  .choose-block .total-block .total-wrap{
    margin-bottom: 24px;
  }
  .choose-block .total-block .btn-wrap{
    margin-bottom: 36px;
  }
  footer{
    padding: 51px 0 20px;
  }
  footer .logo-wrap{
    margin-bottom: 33px;
  }
  footer .footer-menu ul{
    flex-direction: column;
    li{
      margin-bottom: 34px;
    }
    li:last-child{
      margin-bottom: 0;
    }
  }
  footer .form-wrap .title{
    font-size: 25px;
  }
  footer .left{
    margin-bottom: 39px;
  }
  footer .footer-form button{
    height: 48px;
    line-height: 44px;
    margin-bottom: 17px;
  }
  footer .bottom {
    margin: 80px 15px 0;
    padding: 8px 0;
  }
  footer .bottom .content-width{
    padding: 0;
  }
  footer .bottom .bottom-menu li{
    margin-right: 0;
  }
  footer .bottom .bottom-menu{
    justify-content: space-between;
    margin-bottom: 13px;
    width: 100%;
  }
  .login {
    padding: 14px 0 70px;
  }
  .login h1, .login h2{
    margin-bottom: 45px;
  }
  .login .form-wrap .input-wrap-login{
    margin-bottom: 30px;
  }
  .login .form-wrap p{
    margin-bottom: 32px;
  }
  .login .form-wrap .input-wrap-submit .btn-default{
    font-size: 16px;
    line-height: 44px;
    padding-top: 2px;
  }
}