$accent: #3A1016;
$red: #ff0007;
$font2: 'Arial', sans-serif;
$font3: 'Inter', sans-serif;
$font4: 'Roboto', sans-serif;
$font5: 'Open Sans', sans-serif;
/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body{
  font-family: 'League Spartan', sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: $accent;
}

header, section, footer{
  margin: auto;
}

a{
  text-decoration: none;
  &:focus{
    outline: none!important;
  }
}

a:hover, a:focus, a:active{
  text-decoration: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, button{
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
figure{
  margin: 0;
  img{
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }
}

ul{
  margin: 0;
  padding: 0;
  li{
    list-style-type: none;
  }
}
p, a{
  color: $accent;
  margin: 0;
}

.content-width{
  width: 1530px;
  margin: auto;
}

h1, h2{
  margin: 0 0 30px;
}
h3{
  margin: 0 0 30px;
}
h4{
  margin: 0 0 30px;
}
h5{
  margin: 0 0 10px;
}
h6{
  margin: 0 0 10px;
}

input:invalid {
  box-shadow: none;
}

input, textarea, button{
  outline: none!important;
}
/*---------------------------------HEADER----------------------------------*/
header{
  background: #fff;
  position: relative;
  z-index: 99;
}
.is-menu{
  overflow: hidden;
}
header.is-active{
  z-index: 99999;
}
.open-menu{
  display: none;
}
.top-line{
  padding: 40px 0;
  .content-width{
    display: flex;
    justify-content: space-between;
  }
  .logo-wrap{
    width: 196px;
    img{
      width: 100%;
    }
  }
  .right{
    width: calc(100% - 200px);
  }
  .nav-list{
    padding-right: 200px;
    display: flex;
    width: fit-content;
    margin: auto;
    padding-top: 5px;
    li{
      width: 135px;
      margin-right: 0;
      position: relative;

      a{
        display: flex;
        flex-direction: column;
        align-items: center;justify-content: center;
        .number{
          width: 28px;
          height: 28px;
          padding-top: 1px;
          background: #BFBFBF;
          color: #FFF;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 140%; /* 28px */
          letter-spacing: 0.2px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 13px;
          border-radius: 100%;
          position: relative;
          .check{
            display: none;
          }
          &:after{
            position: absolute;
            top: 50%;
            left: calc(100% - 2px);
            width: 120px;
            content: '';
            height: 8px;
            background: #BFBFBF;
            margin-top: -4px;
          }
        }
        .text{
          color: #60484B;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: block;
          text-align: center;
        }
      }
    }
    li:last-child{
      margin-right: 0;
      .number:after{
        display: none;
      }
    }
    .active{
      .number{
        font-size: 0;
        background: transparent;
        .check{
          display: block;
          width: 40px;
          min-width: 40px;
          height: 40px;
          margin: -4px 0 0 -6px;
          position: relative;
          border: 1px solid #F27F0E;
          background: #FFF;
          padding: 6px;
          border-radius: 100%;
          z-index: 2;
          img{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
          }
        }
      }
    }
  }
}
.top-menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 0 0;
  &>ul{
    display: flex;
    li{
      margin-right: 44px;
      a{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        img{
          margin-left: 10px;
        }
        &:hover{
          opacity: 0.7;
        }
      }
    }
    li:last-child{
      margin-right: 0;
    }
  }
  .btn-wrap{
    margin-left: 49px;
    a{
      border-width: 1px;
      height: 54px;
      line-height: 52px;
      padding: 0 49px;
      img{
        margin-right: 10px;
        position: relative;
        top: 4px;
      }
      &:hover{
        img{
          filter: invert(82%) sepia(86%) saturate(5402%) hue-rotate(303deg) brightness(272%) contrast(98%);
        }
      }
    }
  }
}
/*--------------------------------END-HEADER----------------------------------*/
/*----------------------------CHOOSE-BLOCK----------------------------*/

 .content-width h1, .content-width h2{
   text-align: center;
   color: #3A1016;
   font-size: 64px;
   font-style: normal;
   font-weight: 600;
   line-height: 120%; /* 76.8px */
   letter-spacing: 0.64px;
 }
.choose-block{
  padding: 93px 0 70px;
  background: #FEF9F5;
  h1, h2{
    margin-bottom: 75px;
  }
  .content{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 84px 113px;
    width: 1270px;
    margin: auto;
    max-width: 100%;
    p{
      color: #60484B;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
      margin-bottom: 22px;
    }
    .title{
      color: #3A1016;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 10px;
    }
    .label{
      color: #3A1016;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }
  .left{
    width: 46%;
  }
  .total-block{
    width: 440px;
    padding-top: 16px;
    .btn-wrap{
      width: 100%;
      margin-bottom: 24px;
     .btn-default{
        width: 100%;
      }
    }
    .total-wrap{
      border-radius: 4px;
      border: 1px solid #D8D8D8;
      background: #FFF;
      padding: 15px 15px 0;
      margin-bottom: 27px;
    }
    .sub-title{
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 6px;
    }
    .info{
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
      margin-bottom: 35px;
    }
    ul{
      padding-top: 12px;
      border-top: 1px solid #D8D8D8;
      li{
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          margin: 0;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 22.4px */
          letter-spacing: 0.16px;
          b{
            font-family: $font2;
            font-size: 19.688px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
      .last{
        position: relative;
        padding: 7px 0 10px;
        margin-bottom: 0;
        &:after{
          position: absolute;
          top: -5px;
          bottom: 0;
          left: -15px;
          right: -15px;
          content: '';
          background: #E7E7E7;
          border-radius: 0 0 3px 3px;
        }
        p{
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  .check-total{
    position: relative;
    input{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }
    .total-label{
      display: block;
      width: fit-content;
      padding-left: 37px;
      color: #000;
      font-family: $font3;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: relative;
      &:before{
        position: absolute;
        top: -5px;
        left: 0;
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgba(204, 204, 204, 1);
      }

    }
    input:checked + .total-label{
      &:before{
        border-color: #F27F0E;
        background: #F27F0E;
      }
      &:after{
        position: absolute;
        top: -4px;
        left: 1px;
        width: 22px;
        height: 22px;
        content: '';
        background: url("../img/icon-3.svg")no-repeat center;
        background-size: contain;
      }
    }
  }
}

.btn-default{
  display: inline-block;
  cursor: pointer;
  outline: none!important;
  border-radius: 4px;
  background: #F27F0E;
  text-align: center;
  padding: 0 20px;
  border: 1px solid #F27F0E;
  line-height: 46px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  height: 48px;
  transition: all .4s ease;
  &:hover{
    background: #b35904;
    border-color: #b35904;
  }
}

.form-default{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .input-wrap{
    margin-bottom: 49px;
    position: relative;
  }
  .input-big-check{
    .wrap{
      display: flex;
      flex-wrap: wrap;
      grid-gap: 24px 24px;
      .item{
        width: calc(50% - 12px);
        position: relative;

        input{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 2;
        }
        .select-label{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: all .4s ease;
          position: relative;
          border-radius: 4px;
          border: 1px solid #D8D8D8;
          background: #FFF;
          padding: 18px 30px;
          .img-wrap{
            width: 44px;
            height: 44px;
            margin-bottom: 12px;
            img{
              width: 100%;
              vertical-align: top;
            }
          }
          .text{
            color:#60484B;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.16px;
            display: block;
          }
          .check-img{
            position: absolute;
            top: 9px;
            left: 9px;
            display: none;
            z-index: 5;
          }
        }
        input:hover +  .select-label{
          border: 1px solid #F27F0E;
          background: #F0F2F2;
        }
        input:checked + .select-label{
          border: 1px solid #F27F0E;
          background: #F0F2F2;
          .img-wrap{
            img{
              filter: invert(49%) sepia(74%) saturate(626%) hue-rotate(350deg) brightness(99%) contrast(99%);
            }
          }
          .check-img{
            display: block;

          }
        }
      }
    }
  }
  .input-wrap-number-col{
    p.title{
      margin-bottom: 16px;
    }
    .number-item{
      display: flex;
      align-items: center;
      p{
        padding-top: 2px;
        color: #60484B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.16px;
        margin: 0;
        width: 132px;
      }
    }
    .input-number{
      width: 89px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      .btn-count{
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #B2BCCA;
        box-shadow: 0px 2px 40px 0px rgba(133, 133, 133, 0.08);
        cursor: pointer;
      }
      input{
        text-align: center;
        height: 29px;
        line-height: 30px;
        background: transparent;
        border: none;
        width: 29px;
      }
    }
    .number-item + .number-item{
      margin-top:16px;
    }
  }
  .input-wrap-characteristics{
    padding-top: 10px;
    .title{
      margin-bottom: 27px;
    }
    .wrap{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 32px;
    }
    .wrap-check{
      display: flex;
      flex-wrap: wrap;
      .check-item{
        margin: 0 9px 9px 0;
        display: inline-block;
        position: relative;
        input{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
          z-index: 2;
        }
        .round-check{
          display: flex;
          transition: all .4s ease;
          align-items: center;
          width: fit-content;
          border-radius: 50px;
          background: #F1EEEE;
          border: 1px solid #F1EEEE;
          padding: 3px 9px;
          .text{
            color: #4D3B3D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            letter-spacing: 0.16px;
            display: inline-block;
            margin-left: 8px;
            padding-top: 2px;
          }
        }
        input:checked + .round-check{
          border: 1px solid #F27F0E;
          background: #FBF0D5;
        }
      }
    }
    .select-block{
      margin-right: 20px;
    }
    .check-new{
      position: relative;
      display: flex;
      align-items: center;
      input{
        position: absolute;
        top: 0;
        left: 0;
        width: 44px;
        height: 24px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
      }
      .label-new{
        display: inline-block;
        width: 44px;
        border-radius: 100px;
        background: #F1EEEE;
        height: 24px;
        transition: all .4s ease;
        position: relative;
        margin-right: 15px;
        &:after{
          display: inline-block;
          position: absolute;
          top: 3px;
          left: 3px;
          content: '';
          border-radius: 100%;
          width: 18px;
          height: 18px;
          box-shadow: 0px 2px 60px 0px rgba(26, 30, 35, 0.08), 0px 0px 60px 0px rgba(26, 30, 35, 0.12);
          background: #fff;
          transition: all .4s ease;
        }
      }
      .text{
        color:  #60484B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.16px;
        padding-top: 2px;
      }
      input:checked + .label-new{
        background:  #F27F0E;
        &:after{
          left: 22px;
        }
      }
    }
  }
  .nice-select{
    border-radius: 4px;
    border: 1px solid #F27F0E;
    background: #FFF;
    height: 44px;
    padding-left: 10px;
    line-height: 42px;
    color: #3A1016;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding-top: 2px;
    min-width: 115px;
    &:after{
      width: 6px;
      height: 6px;
      border-bottom: 2px solid #3A1016;
      border-right: 2px solid #3A1016;
      right: 15px;
    }
  }
  .nice-select .list{
    min-width: 100%;
  }
}
/*---------------------------END-CHOOSE-BLOCK----------------------------*/
/*---------------------------FOOTER----------------------------*/
footer{
  border-top: 1px solid #D9D9D9;
  background: #FFF;
  padding: 77px 0 0;
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .left{
    width: 50%;
  }
  .logo-wrap{
    margin-bottom: 50px;
  }
  .form-wrap{
    width: 400px;
    p{
      color: #BABABA;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.14px;
      a{
        color: #BABABA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.14px;
        text-decoration-line: underline;
        &:hover{
          color: #000;
        }
      }
    }
    .title{
      color: #3A1016;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 38.4px */
      letter-spacing: 0.32px;
      margin-bottom: 17px;
    }
  }
  .footer-menu{
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        margin-right: 41px;
        a{
          color: #60484B;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          &:hover{
            color: #000;
          }
        }
      }
      li:last-child{
        margin-right: 0;
      }
    }
  }

  .footer-form{
    width: 100%;
    label{
      display: none;
    }
    input{
      width: 100%;
      border-radius: 8px;
      border: 1px solid #B4B4B4;
      background:  #FFF;
      height: 46px;
      line-height: 44px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.16px;
      color: #000;
      margin-bottom: 16px;
      padding: 0 15px;
    }
    button{
      width: 100%;
      font-size: 18px;
      height: 56px;
      line-height: 52px;
      margin-bottom: 15px;
    }
  }
  .bottom{
    margin-top: 67px;
    padding: 20px 0 20px;
    border-top: 1px solid #D9D9D9;
    .content-width{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .bottom-menu{
      display: flex;
      li{
        margin-right: 25px;
        a{

          font-family: $font4;
          color: #7D7C7C;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
          text-decoration-line: underline;
          &:hover{
            color: #000;
          }
        }
      }
      li:last-child{
        margin-right: 0;
      }
    }
    p{
      color: #7D7C7C;
      font-family: $font4;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.btn-border-red{
  background: #fff;
  border: 2px solid #B21409;
  color:#B21409;
  &:hover{
    background: #B21409;
    color: #fff;
  }
}
/*--------------------------END-FOOTER----------------------------*/
/*-------------------------PAGE-LOGIN---------------------------*/
.top-line .nav-list li.current{
  .number{
    font-size: 0;
    background: #fff;
    z-index: 1111;
    .check{
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      border: 5px solid #F27F0E;
      z-index: 1111;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      img{
        display: none;
      }
    }
  }
}

.menu-responsive .nav-list li.current{
  .number{
    font-size: 0;
    background: #fff;
    z-index: 1111;
    .check{
      display: block;
      width: 100%;
      height: 100%;
      background: #fff;
      border: 5px solid #F27F0E;
      z-index: 1111;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      img{
        display: none;
      }
    }
  }
}
.top-line .nav-list li.complete{
  .number:after{
    background: #F27F0E;
  }
}
.login{
  padding: 67px 0 92px;
  .title-wrap{
    width: 100%;
  }
  figure{
    width: 50%;
    img{
      width: 100%;
    }
  }
  .content{
    padding: 92px 113px 101px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-wrap{
    width: 42%;
    padding-top: 3px;
    p{
      color: #8C7679;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 25.2px */
      letter-spacing: 0.18px;
      margin-bottom: 7px;
      a{
        color: #8C7679;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        letter-spacing: 0.18px;
        text-decoration: underline;
        &:hover{
          color: #F27F0E;
        }
      }
    }
    .input-wrap-submit{
      width: 100%;
      .btn-default{
        width: 100%;
      }
    }
    .input-wrap-login{
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      label{
        position: absolute;
        top: -12px;
        left: 7px;
        padding: 0 5px;
        background: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        font-family: $font5;
      }
      input{
        width: 100%;
        border-radius: 4px;
        border: 1px solid #B4B4B4;
        background: #FFF;
        height: 46px;
        line-height: 44px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.16px;
        color: #000;
        padding: 0 15px;
      }
    }
    .link-wrap{
      width: 100%;
      margin-top: 21px;
      text-align: center;
      a{
        color:  #F27F0E;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 23.4px */
        text-decoration-line: underline;
        &:hover{
          color: #000;
        }
      }
    }
  }
}

header{
  .nice-select{
    border: none!important;
    color:  #60484B;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
  }
  .nice-select .option{
    position: relative;
    a{
      display: block;
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        z-index: 10;
      }
    }
  }
  .nice-select:after {
    border-bottom: 2px solid  #60484B;
    border-right: 2px solid  #60484B;
    margin-top: -6px;
  }
  .lang-wrap{
    margin-left: 30px;
  }
}

.nice-select .option{
  position: relative;
  overflow: hidden;
  a{
    &:after{
      position: absolute;
      top: -50px;
      left: -50px;
      bottom: -50px;
      right: -50px;
      content: '';
      display: block;
    }
  }
}
/*------------------------END-PAGE-LOGIN---------------------------*/
/*-------------------------PAGE-CATALOG---------------------------*/
.breadcrumb{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  li{
    color: #F27F0E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.16px;
    display: flex;
    align-items: center;
    a{
      color: #60484B;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
      &:hover{
        color: #F27F0E;
      }
    }
    span{
      display: inline-block;
      margin: 0 9px;
      position: relative;
      top: 1px;
    }
  }

}
.catalog{
  padding: 25px 0 0;
  background: #FEF9F5;
  h1{
    margin-bottom: 54px;
  }
  .mob-btn{
    display: none;
  }
  .wrap-content{
    padding: 50px 0 155px;
    background: #fff;
  }
  .filter-line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 56px;
    .left{
      width: 55%;
    }
    .right{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: -8px;
      p{
        color: #60484B;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-right: 16px;
        height: fit-content;
        position: relative;
        top: 2px;
      }
    }
  }
  .slider-wrap{
    position: relative;
    padding: 0 30px;
    margin-left: -30px;
    width: 750px;
    max-width: 100%;
    .swiper-button-prev, .swiper-button-next{
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -19px;
      background: #fff;
      &:after{
        display: none;
      }
    }
    .swiper-button-prev img{
      transform: scale(-1,1);
    }
    .swiper-button-prev{
      left: 0;
    }
    .swiper-button-next{
      right: 0;
    }
    .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
      opacity: 0!important;
    }
  }
  .title-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 47px;
    .title{
      color: #3A1016;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 57.6px */
      letter-spacing: 0.48px;
      margin: 0;
    }
    .link-wrap{
      a{
        color: #F27F0E;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .content{
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(4, 1fr);
  }
  .item{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transition: all .4s ease;

    figure{
      overflow: hidden;
      border-radius: 10px;
      height: 260px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: all .4s ease;
      }
      &:hover{
        img{
          transform: scale(1.03);
        }
      }
    }
    .text-wrap{
      padding: 15px 0 0;
      .teg{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 7px;
        .check-item{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-transition: all .4s ease;
          transition: all .4s ease;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          border-radius: 50px;
          background: #F1EEEE;
          border: 1px solid #F1EEEE;
          padding: 3px 9px;
          margin: 0 10px 10px 0;
          .text{
            color: #4D3B3D;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            letter-spacing: 0.16px;
            display: inline-block;
            margin-left: 8px;
            padding-top: 2px;
          }
        }
      }
      h6{
        margin: 0 0 3px;
        a{
          color: #3A1016;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
          &:hover{
            opacity: 0.7;
          }
        }
      }

    }
  }
  .info-list{
    margin-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    li{
      margin: 0 12px 5px 0;
      padding-right: 12px;
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      &:after{
        position: absolute;
        top: 4px;
        right: 0;
        bottom: 6px;
        content: '';
        width: 1px;
        display: block;
        background: #3A1016;
      }
      img{
        margin-right: 5px;
        position: relative;
        top: -2px;
      }
    }
  }
  .nice-select{
    border: 1px solid #F27F0E;
    height: 32px;
    line-height: 30px;
    font-size: 16px;
    min-width: 85px;
    &:after{
      border-bottom: 1px solid #3A1016;
      border-right: 1px solid #3A1016;
    }
  }
  .cost-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    padding-right: 11px;
    .cost{
      color: #F27F0E;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
    .input-number{
      width: 89px;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      .btn-count{
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        border: 1px solid #B2BCCA;
        box-shadow: 0px 2px 40px 0px rgba(133, 133, 133, 0.08);
        cursor: pointer;
      }
      input{
        text-align: center;
        height: 29px;
        line-height: 30px;
        background: transparent;
        border: none;
        width: 29px;
      }
    }
  }
  .btn-default{
    padding: 0 25px;
    img{
      margin-right: 10px;
      position: relative;
      top: 2px;
    }
  }
  .content + .title-wrap{
    margin-top: 102px;
  }
}
.filter{
  width: 100%;
  margin-bottom: 15px;
}
.filter-slider{

  .swiper-slide{
    width: fit-content;
    display: inline-block;
    position: relative;
    label{
      position: relative;
      display: inline-block;
      color: #60484B;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 10px;
      &:after{
        bottom: 0;
        position: absolute;
        left: 0;
        width: 100%;
        content: '';
        height: 1px;
        background: #F27F0E;
        transition: all .4s ease;
        transform: scaleX(0);
        display: block;
      }
    }
    input{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
    }
    input:checked + label:after{
      transform: scaleX(1);
    }
    input:hover + label:after{
      transform: scaleX(1);
    }
  }
}
section .nice-select .list{
  border-radius: 4px;
  border: 1px solid #F1EEEE;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.03);
  padding: 8px;
}

section .nice-select .option:hover, section .nice-select .option.focus, section .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
section .nice-select .option{
  color: #60484B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.16px;
  height: 38px;
  line-height: 38px;
  padding: 1px 8px 0;
}

.bg-info{
  position: relative;
  padding: 93px 0 95px;
  margin-bottom: -1px;
  z-index: 2;
  .bg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .mob{
      display: none;
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 730px;
    max-width: 100%;
    margin: auto;
  }
  .title{
    color:#FFF;
    text-align: center;
    font-size: 57px;
    font-style: normal;
    font-weight: 800;
    line-height: 97.5%;
    margin-bottom: 53px;
  }
  .btn-default{
    padding: 0 25px;
    min-width: 182px;
    font-size: 18px;
  }
}
.bg{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bg + .content-width{
  position: relative;
  z-index: 2;
}
.btn-red{
  background: #B21409;
  color: #fff;
  &:hover{
    background: #881208;
  }
}
.catalog .title-wrap .link-wrap{
  height: fit-content;
}

.popup-img-text{
  width: 960px;
  padding: 0;
  .popup-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  figure{
    width: calc(50% + 10px);
    height: 570px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text-popup{
    width: calc(50% - 10px);
    padding: 25px 30px;
    background: #fff;
    .teg{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 7px;
      .check-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 50px;
        background: #F1EEEE;
        border: 1px solid #F1EEEE;
        padding: 3px 9px;
        margin: 0 10px 10px 0;
        .text{
          color: #4D3B3D;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0.16px;
          display: inline-block;
          margin-left: 8px;
          padding-top: 2px;
        }
      }
    }
    h6{
      margin: 0 0 3px;
      color: #3A1016;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
    .info-list{
      margin-bottom: 18px;
      padding-bottom: 4px;
      border-bottom: 1px solid #E7E7E7;
      display: flex;
      flex-wrap: wrap;
      li{
        margin: 0 12px 5px 0;
        padding-right: 12px;
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        &:after{
          position: absolute;
          top: 4px;
          right: 0;
          bottom: 6px;
          content: '';
          width: 1px;
          display: block;
          background: #3A1016;
        }
        img{
          margin-right: 5px;
          position: relative;
          top: -2px;
        }
      }
    }
    .text-info{
      p{
        color: #101010;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.16px;
        margin-bottom: 15px;
      }
      .sub-title{
        color:#3A1016;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 155.556% */
        text-transform: capitalize;
        margin-bottom: 7px;
      }
    }
  }
}

.fancybox-close-small:after{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  border-radius: 100%;
  background: #F1EEEE;
  content: '';
  display: block;
  width: 24px;
  height: 24px;
}
.fancybox-close-small:before{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  width: 24px;
  height: 24px;
  content: '';
  background: url("../img/icon-15.svg")no-repeat center;
  background-size: contain;
}
.fancybox-close-small svg{
  display: none;
}

.popup-img-text .text-popup .info-list li:last-child:after{
  display: none;
}

.table-product{
  width: 275px;
  .table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 5px;
    border-bottom: 1px solid #F0F2F2;
  }
  .data-1{
    color: #3A1016;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
  .data-2{
    color: #3A1016;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
  }
  .table-head{
    .data-2{
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
footer .footer-form button{
  height: 48px;
  line-height: 46px;
}
/*------------------------END-PAGE-CATALOG---------------------------*/
/*-------------------------PAGE-DELIVERY---------------------------*/
.login .form-wrap .input-wrap-login label{
  top: -10px;
  z-index: 10;
}
.login .form-wrap .input-wrap-50{
  width: calc(50% - 10px);
}
.login .form-wrap .input-img{
  position: relative;
  img{
    position: absolute;
    top: 12px;
    left: 10px;
  }
  input{
    padding-left: 45px;
  }
}

.login .form-wrap  .nice-select{
  width: 100%;
  font-size: 16px;
  border: 1px solid #B4B4B4!important;
}
.delivery{
  .sub-title{
    width: 100%;
    color: #3A1016;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 20px;
  }
  h1{
    margin-bottom: 65px;
  }
  .content{
    padding: 93px 85px 101px;
  }
  figure{
    width: 47.5%;
  }
  .form-wrap{
    padding-top: 0;
    width: 47.5%;
  }
  .input-wrap + .sub-title{
    margin: -4px 0 16px;
  }
}

.delivery .form-wrap .input-wrap-login{
  margin-bottom: 35px;
}

.login .form-wrap .input-wrap-login input{
  line-height: 38px;
  padding-top: 6px;
}
/*------------------------END-PAGE-DELIVERY---------------------------*/
/*-------------------------PAGE-PLANS---------------------------*/
.plans{
  background: #fff;
  .content{
    box-shadow: none;
    padding: 21px 90px 101px;
  }
  .item-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    padding: 19px 20px 8px;
    margin-bottom: 24px;
    .title{
      width: 100%;
      margin-bottom: 26px;
    }
  }
  .form-wrap{
    width: 100%;
  }
  .form-wrap-70{
    width: calc(100% - 470px);
  }
  .item-aside{
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    padding: 19px 19px;
    margin-bottom: 20px;
    .wrap{
      display: none;
    }
  }
  .right{
    width: 440px;
  }
  .form-wrap .input-wrap-login{
    margin-bottom: 28px;
  }
  .title-product{
    position: relative;
    padding-right: 50px;
    cursor: pointer;
    margin-bottom: 0!important;
    transition: all .4s ease;
    &:after{
      position: absolute;
      top: 3px;
      right: 0;
      content: '';
      width: 24px;
      height: 24px;
      background: url("../img/icon-20.svg")no-repeat center;
      background-size: contain;
      transition: all .4s ease;
    }
  }
  .is-active.title-product{
      margin-bottom: 25px!important;
      &:after{
        transform: scale(1,-1);
      }
  }
  .product-info{
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    .h6{
      color:  #60484B;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
      margin-bottom: 8px;
    }
  }
  .item-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    figure{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #F0F2F2;
      width: 80px;
      height: 80px;
      img{
        width: auto;
        height: auto;
      }
    }
    .text{
      width: calc(100% - 95px);
      position: relative;
      padding: 0 30px 37px 0;
      .cost-wrap{
        position: absolute;
        bottom: 0;
        right: 5px;
        .old-price{
          margin: 0 0 -4px;
          color: #B2BCCA;
          font-family: $font5;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 166.667% */
          text-decoration: line-through;
        }
        .price{
          color: #000;
          font-family: $font5;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          margin: 0;
        }
      }
      .delete-product{
        position: absolute;
        top: 1px;
        right: 5px;
        z-index: 99;
        a{
          &:hover{
            transform: rotate(360deg);
          }
        }
      }
      p{
        color: #60484B;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        letter-spacing: 0.16px;
      }
      .input-number{
        width: 89px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        position: absolute;
        left: 0;
        bottom: 0;
        .btn-count{
          width: 29px;
          height: 29px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          border: 1px solid #B2BCCA;
          box-shadow: 0px 2px 40px 0px rgba(133, 133, 133, 0.08);
          cursor: pointer;
        }
        input{
          text-align: center;
          height: 29px;
          line-height: 25px;
          background: transparent;
          border: none;
          width: 29px;
          padding-top: 4px;
        }
      }
    }
  }
  .user-item{
    margin-bottom: 13px;
    .wrap-user{
      display: none;
    }
    .title-user{
      cursor: pointer;
      position: relative;
      padding-right: 30px;
      color: #60484B;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.16px;
      margin-bottom: 6px;
      &:after{
        position: absolute;
        top: -3px;
        right: 5px;
        content: '';
        width: 24px;
        height: 24px;
        background: url("../img/icon-20.svg")no-repeat center;
        background-size: contain;
        transition: all .4s ease;
      }
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 50px;
        padding: 3px 9px;
        border: 1px solid #F27F0E;
        background: #FBF0D5;
        margin: 0 6px 6px 0;
        span{
          color: #4D3B3D;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 0.16px;
          display: inline-block;
          margin-left: 8px;
          padding-top: 2px;
        }
      }
    }
  }
  .is-active.title-user{
    &:after{
      transform: scale(1,-1);
    }
  }
  .total-block{
    width: 100%!important;
    padding-top: 0!important;
  }
  .input-wrap-big + .input-wrap-big{
    margin-top: 15px;
  }
  .input-wrap-big{
    position: relative;
    width: 100%;
    &>input[type=radio]{
     position: absolute;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    &>label{
      display: flex;
      flex-wrap: wrap;
      position: relative;

      padding: 16px 20px 16px 40px;
      border-radius: 4px;
      border: 1px solid  #B2BCCA;
      background: #FFF;
      transition: all .4s ease;
      .round{
        display: inline-block;
        position: absolute;
        top: 19px;
        left: 19px;
        width: 14px;
        height: 14px;
        border: 1px solid #B2BCCA;
        border-radius: 100%;
        z-index: 9;
        transition: all .4s ease;
        cursor: pointer;
      }
      .font-600{
        font-family: $font5;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        display: inline-block;
        margin-right: 20px;
      }
      .info{
        width: calc(100% - 140px);
        color: #4F4F4F;
        font-family: $font5;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      .img-wrap{
        position: absolute;
        top: 11px;
        right: 14px;
        display: flex;
        justify-content: flex-end;
        img{
          margin-left: 5px;
        }
        img:first-child{
          margin-left: 0;
        }
      }
      .input-wrap{
        display: block;
      }
      .wrap-cart-input{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 32px;
        margin-left: -23px;
        min-width: calc(100% + 23px);
      }
      .input-wrap-link{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        a{
          color: #F27F0E;
          font-family: $font5;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    &>input[type=radio]:checked + label{
      background: rgba(#F27F0E, 0.1);
      border: 1px solid #F27F0E;
      .round{
        background: #fff;
        border: 5px solid #F27F0E;
      }
      .input-wrap-login label{
        background: #fef2e6;
      }
      .input-wrap-login input{
        background: transparent;
      }
    }
  }
  .info-security{
    position: relative;
    padding: 22px 10px 0px 47px;
    img{
      position: absolute;
      top: 19px;
      left: 5px;
    }
    p{
      color: #828282;
      font-family: $font5;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
.select-block{
  position: relative;
  z-index: 99;
}

.mb-0{
  margin-bottom: 0!important;
}

.plans .form-wrap-70{
  padding: 0!important;
}
/*------------------------END-PAGE-PLANS---------------------------*/
/*-------------------------PAGE-MENU---------------------------*/
.catalog-menu{
  .menu-catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-left{
    width: calc(100% - 390px);
  }
  .menu-right{
    width: 350px;
  }
  .filter-line .left{
    width: calc(100% - 280px);
  }
  .filter-line .right{
    width: 260px;
    justify-content: flex-start;
  }
  .title-wrap .title{
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: 0.4px;
  }
  .title-wrap{
    margin-bottom: 22px;
  }
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .select-full-center{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  .progress-wrap{
    margin-bottom: 20px;
    .progress{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      background: #FEF9F5;
      height: 48px;
      position: relative;
      overflow: hidden;
      .progress-bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #F27F0E;
      }
      p{
        color: #3A1016;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin: 0!important;
        text-align: center;
        position: relative;
        z-index: 10;
      }
    }
  }
  .person-item{
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    padding: 17px 17px;
    .person-product{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 24px;
      figure{
        width: 90px;
        height: 70px;
        border-radius: 10px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all .4s ease;
        }
        &:hover{
          img{
            transform: scale(1.03);
          }
        }
      }
      .text{
        width: calc(100% - 105px);
        position: relative;
        padding-bottom: 30px;
        p{
          a{
            color: #3A1016;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            display: block;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
    .person-product:last-child{
      margin-bottom: 0;
    }
    .menu-right .input-number{
      position: absolute;
      z-index: 9;
      bottom: 0;
      right: 0;
      left: inherit;
    }
    .person-title{
      position: relative;
      padding-right: 30px;
      padding-bottom: 20px;
      margin-bottom: 17px;
      border-bottom: 1px solid #D8D8D8;
      .edit-item{
        position: absolute;
        top: 0;
        right: 0;
      }
      .name{
        color: #3A1016;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 8px;
      }
      .input-wrap-check{
        position: relative;
        input{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          opacity: 0;
          cursor: pointer;
        }
        label{
          display: block;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          padding-left: 37px;
          color: #000;
          font-family: "Inter", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          position: relative;
          &:before{
            position: absolute;
            top: -5px;
            left: 0;
            content: '';
            width: 24px;
            height: 24px;
            border-radius: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #cccccc;
          }
        }
        input:checked + label:after{
          position: absolute;
          top: -4px;
          left: 1px;
          width: 22px;
          height: 22px;
          content: '';
          background: url(../img/icon-3.svg) no-repeat center;
          background-size: contain;
        }
      }
    }
  }
  .menu-right .input-number{
    width: 89px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0;
    right: 0;
    .btn-count{
      width: 29px;
      height: 29px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      border: 1px solid #B2BCCA;
      box-shadow: 0px 2px 40px 0px rgba(133, 133, 133, 0.08);
      cursor: pointer;
    }
    input{
      text-align: center;
      height: 29px;
      line-height: 25px;
      background: transparent;
      border: none;
      width: 29px;
      padding-top: 4px;
    }
  }
}

.mob-btn-filter{
  display: none;
}
.close-menu{
  display: none;
}
/*------------------------END-PAGE-MENU---------------------------*/
